imports das lib

In [1]:
import pandas as pd
import numpy as np
import math as math
from sklearn import linear_model

caminho do **dataset**

In [2]:
path_to_ds = "/content/drive/MyDrive/Colab Notebooks/IA/bcc/tutorial_1_regressão_linear/candidatos.csv"

leitura do .csv **dataset**

In [28]:
df = pd.read_csv(path_to_ds)

exibição do **dataset**

In [29]:
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000
8        one         6.0                6   40000

transformar as celulas string da coluna *'experience'* do **dataset** para int

In [30]:
xp = {
    'zero':0,
    'one': 1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'nine': 9,
    'ten': 10,
    'eleven': 11,
    'twelve': 12,
    'thirteen': 13,
    'fourteen': 14,
    'fifteen': 15, 
    }

array = df["experience"].copy()
for index, cel in enumerate(array):
  if type(cel) is str and not pd.isnull(cel):
    df["experience"][index] = xp[cel]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ccalcular média da coluna *'experience'* e *'test_score'* e alterar os valores nulos *'NaN'* do **dataset**

In [32]:
median_experience = math.floor(df["experience"].median())
df["experience"] = df["experience"].fillna(median_experience)

median_test_score = math.floor(df["test_score"].median())
df["test_score"] = df["test_score"].fillna(median_test_score)

exibição do **dataset** com *'NaN'* corrigido

In [33]:
df

   experience  test_score  interview_score  salary
0           5         8.0                9   50000
1           5         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         7.0                7   72000
7          11         7.0                8   80000
8           1         6.0                6   40000

trinando o modelo

In [37]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score', 'interview_score']], df['salary'])

LinearRegression()

exibindo os coeficientes

In [38]:
reg.coef_

array([3175.33729962, 1484.14084228, 2982.64223288])

testando para um novo colaborador com: 1 ano de experiência, tirou 7 no teste técnico e 8 na entrevista

In [42]:
collaborator = [[1, 7.0, 8]]
reg.predict(collaborator)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([46501.52561137])

o slário ideial para esse colaborador a partir do modelo é: $46501.52 anual